h1{
  text-align: left;
}
h2{
  text-align: right;
}
.header-wrap{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.a-center{
  align-items: center;
}
button.open-modal{
  min-width: 120px;
  background-color: #9E2232;
  color:#fff;
  border-radius: 0;
}

mat-list{
  background-color: #fff;
  border: 1px solid rgba(34, 158, 141, 1);
}
mat-list-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

mat-list-item span{
  width: calc(50% - 30px);
  padding: 0 15px;
}

.mat-elevation-z8{
  margin-bottom: 40px;
}

mat-expansion-panel-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
.mat-accordion>.mat-expansion-panel-spacing:first-child{
  border-radius: 0;
}
span.id{
  padding-right: 15px;
  font-weight: 500;
}

mat-panel-title{
  width: 30%;
  max-width: 30%;
}
