<div class="header-wrap">
  <h1>Some customer</h1>
  <h2>0</h2>
</div>

<hr>

<div class="header-wrap a-center">
  <h2>Order Information:</h2>
  <button class="mat-flat-button open-modal"
          (click)="openModalFunction({name: 'Edit Order', order: order}, EditModalComponent, editOrder)">Edit</button>
</div>

<div class="mat-elevation-z8" *ngIf="order">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <span>Rep</span>
      <span class="tall">{{order.rep}}</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>City</span>
      <span class="tall">{{order.city}}</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>Order Type</span>
      <span class="tall">{{order.purchaseLease}}</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Lead Source</span>
      <span class="tall">{{order.leadSource}}</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Sticky Pays To</span>
      <span class="tall">{{order.paysTo}}</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Sales Order's Date</span>
      <span class="tall">{{order.salesDate | date}}</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Purchase Type</span>
      <span class="tall">{{order.type}}</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Service Plan</span>
      <span class="tall">{{order.servicePlan}}</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Funds to Customer</span>
      <span class="tall">{{order.funds}}</span>
    </mat-list-item>
    <!-- end of list item -->

  </mat-list>
  <div class="colorfun"></div>
</div>
<!-- Order Info End -->

<hr>

<div class="header-wrap a-center">
  <h2>Purchased Order</h2>
  <button class="mat-flat-button open-modal"
  (click)="openModalFunction({name: 'Add Purchased Order'}, AddPurchaseModalComponent, addPurchase)"
  >Add</button>
</div>

<app-purchased-orders>

</app-purchased-orders>
<!-- Purchased Orders Table-->

<hr>

<div class="header-wrap a-center">
  <h2>Leases</h2>
  <button class="mat-flat-button open-modal"
          (click)="openModalFunction({name: 'Add Lease'}, AddLeaseModalComponent, addLease)"
  >Add</button>
</div>

<app-purchased-orders>

</app-purchased-orders>
<!-- Leases table-->

<div class="header-wrap a-center">
  <h2>Device 0</h2>
  <button class="mat-flat-button open-modal"
          (click)="openModalFunction({name: 'Edit Device', device: device}, EditDeviceModalComponent, editDevice)"
  >Edit</button>
</div>

<div class="mat-elevation-z8">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <span>Model</span>
      <span class="tall">Nimbus 2000</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>Accessories</span>
      <span class="tall">PS Fax</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>Serial</span>
      <span class="tall">Some serial</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Warehouse Location</span>
      <span class="tall">Somewhere</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Received at warehouse</span>
      <span class="tall">Outstanding</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Delivery location</span>
      <span class="tall">Somewhere Too</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Delivered</span>
      <span class="tall">Outstanding</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Device Status</span>
      <span class="tall">Backordered</span>
    </mat-list-item>
    <!-- end of list item -->

  </mat-list>
  <div class="colorfun"></div>
</div>

<div class="header-wrap a-center">
  <h2>Device 1</h2>
  <button class="mat-flat-button open-modal"
          (click)="openModalFunction({name: 'Edit Device', device: device}, EditDeviceModalComponent, editDevice)"
  >Edit</button>
</div>

<div class="mat-elevation-z8">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <span>Model</span>
      <span class="tall">Nimbus 2000</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>Accessories</span>
      <span class="tall">PS Fax</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>Serial</span>
      <span class="tall">Some serial</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Warehouse Location</span>
      <span class="tall">Somewhere</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Received at warehouse</span>
      <span class="tall">Outstanding</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Delivery location</span>
      <span class="tall">Somewhere Too</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Delivered</span>
      <span class="tall">Outstanding</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Device Status</span>
      <span class="tall">Backordered</span>
    </mat-list-item>
    <!-- end of list item -->

  </mat-list>
  <div class="colorfun"></div>
</div>
<!-- Devices End -->


<hr>

<div class="header-wrap a-center">
  <h2>Trade 0</h2>
  <button class="mat-flat-button open-modal"
          (click)="openModalFunction({name: 'Edit Trade', trade: trade}, EditTradeModalComponent, editTrade)"
  >Edit</button>
</div>

  <div class="mat-elevation-z8">


  <mat-list role="list">
    <mat-list-item role="listitem">
      <span>Model</span>
      <span class="tall">Sharp MXC4002WC</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>Serial</span>
      <span class="tall">Some Serial</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>Return Disposition</span>
      <span class="tall">Scrap</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Funds to Customer</span>
      <span class="tall">------</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Return By</span>
      <span class="tall">Oct 10, 2018</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Warehouse received</span>
      <span class="tall">TBD</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Removed date</span>
      <span class="tall">TBD</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Black meter</span>
      <span class="tall">-----</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Color meter</span>
      <span class="tall">-----</span>
    </mat-list-item>
    <!-- end of list item -->

  </mat-list>
  <div class="colorfun"></div>
</div>


<div class="header-wrap a-center">
  <h2>Trade 1</h2>
  <button class="mat-flat-button open-modal"
          (click)="openModalFunction({name: 'Edit Trade', trade: trade}, EditTradeModalComponent, editTrade)"
  >Edit</button>
</div>

<div class="mat-elevation-z8">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <span>Model</span>
      <span class="tall">Sharp MXC4002WC</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>Serial</span>
      <span class="tall">Some Serial</span>
    </mat-list-item>
    <!-- end of list item -->
    <mat-list-item role="listitem">
      <span>Return Disposition</span>
      <span class="tall">Scrap</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Funds to Customer</span>
      <span class="tall">------</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Return By</span>
      <span class="tall">Oct 10, 2018</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Warehouse received</span>
      <span class="tall">TBD</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Removed date</span>
      <span class="tall">TBD</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Black meter</span>
      <span class="tall">-----</span>
    </mat-list-item>
    <!-- end of list item -->

    <mat-list-item role="listitem">
      <span>Color meter</span>
      <span class="tall">-----</span>
    </mat-list-item>
    <!-- end of list item -->

  </mat-list>
  <div class="colorfun"></div>
</div>
<!-- Trades End -->

<hr>

<div class="header-wrap a-center">
  <h2>Order Notes</h2>
  <button class="mat-flat-button open-modal"
          (click)="openModalFunction({name: 'Add Notes'}, AddNoteModalComponent, addNote)"
  >Add</button>
</div>

<div class="mat-elevation-z8">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="id">1</span>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Note</p>
    </mat-expansion-panel>
    <!-- end of panel -->

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="id">2</span>
          Personal Data
        </mat-panel-title>
        <mat-panel-description>
          Some info
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Note</p>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- end of accordion -->
  <div class="colorfun"></div>
</div>

<hr>

<div class="header-wrap a-center">
  <h2>Order Reminders</h2>
  <button class="mat-flat-button open-modal"
          (click)="openModalFunction({name: 'Add Reminder'}, AddReminderModalComponent, addReminder)"
  >Add</button>
</div>

<div class="mat-elevation-z8">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="id">1</span>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Reminder</p>
    </mat-expansion-panel>
    <!-- end of panel -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="id">2</span>
          Personal Data
        </mat-panel-title>
        <mat-panel-description>
          Some info
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>Reminder</p>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- end of accordion -->
  <div class="colorfun"></div>
</div>

<hr>

<div class="header-wrap a-center">
  <h2>Returned Task</h2>
  <button class="mat-flat-button open-modal"
          (click)="openModalFunction({name: 'Add Task'}, AddTaskModalComponent, addTask)"
  >Add</button>
</div>

<div class="mat-elevation-z8">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="id">1</span>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

        <h3>Task</h3>

        <p>Some Task</p>

        <h3>Note</h3>

        <p>Some notes</p>

    </mat-expansion-panel>
    <!-- end of panel -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="id">2</span>
          Personal Data
        </mat-panel-title>
        <mat-panel-description>
          Some info
        </mat-panel-description>
      </mat-expansion-panel-header>

      <h3>Task</h3>

      <p>Some Task</p>

      <h3>Note</h3>

      <p>Some notes</p>

    </mat-expansion-panel>
  </mat-accordion>
  <!-- end of accordion -->
  <div class="colorfun"></div>
</div>

<app-fab-button>
  
  <button
    id="new-lease-btn'"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    (click)="openModalFunction({name: 'Add Lease'}, AddLeaseModalComponent, addLease)"
  >

    <i class="material-icons">description</i>
    <label class="tall">New Lease</label>

  </button>
  <!--  end of btn  -->

  <button
    id="new-purchase-btn'"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    (click)="openModalFunction({name: 'Add Purchase'}, AddPurchaseModalComponent, addPurchase)"
  >

    <i class="material-icons">description</i>
    <label class="tall">New PO</label>

  </button>
  <!--  end of btn  -->

  <button
    id="new-device-btn'"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    (click)="openModalFunction({name: 'Add Device'}, EditDeviceModalComponent, addDevice)"
    >

    <i class="material-icons">devices</i>
    <label class="tall">New Device</label>

  </button>
  <!--  end of btn  -->

  <button
    id="new-trade-btn'"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    (click)="openModalFunction({name: 'Add Trade'}, EditTradeModalComponent, addTrade)"
  >

    <i class="material-icons">attach_money</i>
    <label class="tall">New Trade</label>

  </button>
  <!-- end of btn  -->

  <button
    id="new-note-btn'"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    (click)="openModalFunction({name: 'Add Note'}, AddNoteModalComponent, addNote)"
  >

    <i class="material-icons">event_note</i>
    <label class="tall">New Note</label>

  </button>
  <!--  end of btn  --> 
  
  <button
    id="new-reminder-btn'"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    (click)="openModalFunction({name: 'Add reminder'}, AddReminderModalComponent, addReminder)"
  >

    <i class="material-icons">access_alarms</i>
    <label class="tall">New Reminder</label>

  </button>
  <!--  end of btn  --> 

  <button
    id="new-task-btn'"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    (click)="openModalFunction({name: 'Add Task'}, AddTaskModalComponent, addTask)"
  >

    <i class="material-icons">assignment_return</i>
    <label class="tall">New Task</label>

  </button>
  <!--  end of btn  --> 

</app-fab-button>
