<div class="search_fields">
  <mat-form-field fxFlex="100%">
    <input matInput [formControl]="positionFilter" placeholder="Your filter">
  </mat-form-field>
</div>
<!-- end of search field -->

<div class="table_wrap mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id" sticky="true">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}} </td>
    </ng-container>

    <!--Weight Column-->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let element">{{element.customer}} </td>
    </ng-container>

    <!--Name Column -->
    <ng-container matColumnDef="rep">
      <th mat-header-cell *matHeaderCellDef>Rep</th>
      <td mat-cell *matCellDef="let element"> {{element.rep}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="retDisposition">
      <th mat-header-cell *matHeaderCellDef>Return Disposition</th>
      <td mat-cell *matCellDef="let element"> {{element.retDisposition}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="dispositionNote">
      <th mat-header-cell *matHeaderCellDef>Disposition Note</th>
      <td mat-cell *matCellDef="let element"> {{element.dispositionNote}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="returnBy">
      <th mat-header-cell *matHeaderCellDef>Return By</th>
      <td mat-cell *matCellDef="let element"> {{element.returnBy}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="received">
      <th mat-header-cell *matHeaderCellDef>Received</th>
      <td mat-cell *matCellDef="let element"> {{element.received}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="removed">
      <th mat-header-cell *matHeaderCellDef>Removed</th>
      <td mat-cell *matCellDef="let element"> {{element.removed}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
