tr td.mat-cell:nth-child(2) {
  min-width: 250px;
}
tr td.mat-cell:nth-child(3) {
  min-width: 150px;
}
tr td.mat-cell:nth-child(4) {
  min-width: 150px;
}
tr td.mat-cell:nth-child(5) {
  min-width: 120px;
}
tr td.mat-cell:nth-child(6) {
  min-width: 130px;
}
tr td.mat-cell:nth-child(7) {
  min-width: 130px;
}
tr td.mat-cell:nth-child(8) {
  min-width: 100px;
}
tr td.mat-cell:nth-child(9) {
  min-width: 120px;
}
tr td.mat-cell:nth-child(10) {
  min-width: 170px;
}



