<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Due Date" formControlName="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- end of due date field -->

    <mat-form-field>
      <textarea matInput placeholder="Your note..." formControlName="note" rows="10"></textarea>
    </mat-form-field>
    <!-- end of note field -->

    <button class="hidden" #submit></button>
  </form>
  <!-- end of form -->

</div>
<!-- end of modal content -->

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!form.valid" (click)="submit.click()" id="submit-btn">Edit</button>
</div>
