tr td.mat-cell:nth-child(2) {
  min-width: 150px;
}
tr td.mat-cell:nth-child(3) {
  min-width: 180px;
}
tr td.mat-cell:nth-child(4) {
  min-width: 150px;
}
tr td.mat-cell:nth-child(5) {
  min-width: 170px;
}
tr td.mat-cell:nth-child(6) {
  min-width: 130px;
}



