<div class="search_fields">
  <mat-form-field fxFlex="100%">
    <input matInput [formControl]="positionFilter" placeholder="Your filter">
  </mat-form-field>
</div>
<!-- end of search field -->

<div class="table_wrap mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id" sticky="true">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}} </td>
    </ng-container>

    <!--Weight Column-->
    <ng-container matColumnDef="soDate">
      <th mat-header-cell *matHeaderCellDef>SO Date</th>
      <td mat-cell *matCellDef="let element">{{element.soDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rep">
      <th mat-header-cell *matHeaderCellDef>Rep</th>
      <td mat-cell *matCellDef="let element"> {{element.rep}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="lastViewed">
      <th mat-header-cell *matHeaderCellDef>last Viewed</th>
      <td mat-cell *matCellDef="let element"> {{element.lastViewed}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
