<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="Model" formControlName="model">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Serial" formControlName="serial">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Return Disposition" formControlName="returnDisposition">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Return By Date" formControlName="returnDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Funds To Customer" formControlName="funds">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Date Removed" formControlName="removedDate">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Black Meter" formControlName="blackMeter">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Color Meter" formControlName="colorMeter">
    </mat-form-field>

     <button class="hidden" #submit></button>
  </form>

</div>
<!-- end of modal content -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!form.valid" (click)="submit.click()" id="submit-btn">Done</button>
</div>
