<div class="search_fields">
  <mat-form-field fxFlex="100%">
    <input matInput [formControl]="positionFilter" placeholder="Your filter">
  </mat-form-field>
</div>
<!-- end of search field -->

<div class="table_wrap mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id" sticky="true">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!--Weight Column-->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let element">{{element.customer}}</td>
    </ng-container>

    <!--Weight Column-->
    <ng-container matColumnDef="device">
      <th mat-header-cell *matHeaderCellDef>Device</th>
      <td mat-cell *matCellDef="let element">{{element.device}}</td>
    </ng-container>

    <!--Name Column -->
    <ng-container matColumnDef="rep">
      <th mat-header-cell *matHeaderCellDef>Rep</th>
      <td mat-cell *matCellDef="let element"> {{element.rep}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="soDate">
      <th mat-header-cell *matHeaderCellDef>SO Date</th>
      <td mat-cell *matCellDef="let element"> {{element.soDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="poDate">
      <th mat-header-cell *matHeaderCellDef>PO Date</th>
      <td mat-cell *matCellDef="let element"> {{element.poDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="warehouse">
      <th mat-header-cell *matHeaderCellDef>Warehouse</th>
      <td mat-cell *matCellDef="let element"> {{element.warehouse}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="delivery">
      <th mat-header-cell *matHeaderCellDef>Delivery</th>
      <td mat-cell *matCellDef="let element"> {{element.delivery}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

