<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>

  <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-select placeholder="Device" formControlName="device">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="PO Number" formControlName="poNumber" type="number">
    </mat-form-field>

    <mat-radio-group id="dropRadio" formControlName="dropStatus" [value]="true">
      <label for="dropRadio">Will you drop ship these?</label>
      <mat-radio-button [value]="true" [checked]="true">Yes</mat-radio-button>
      <mat-radio-button [value]="false">No</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="When was this PO placed?" formControlName="placedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerDelivery" placeholder="When is delivery expected?" formControlName="deliveryDate">
      <mat-datepicker-toggle matSuffix [for]="pickerDelivery"></mat-datepicker-toggle>
      <mat-datepicker #pickerDelivery></mat-datepicker>
    </mat-form-field>

    <button class="hidden" #submit></button>
  </form>

</div>
<!-- end of modal content -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!purchaseForm.valid" (click)="submit.click()" id="submit-btn">Edit</button>
</div>
