form{
  display: flex;
  flex-direction: column;
}
form mat-form-field{
  width: 100%;
}
.mat-dialog-actions{
  display: flex;
  justify-content: flex-end;
}

#dropRadio label{
  width: 100%;
  display: flex;
  justify-content: center;
}
mat-radio-group#dropRadio.mat-radio-group{
  display: flex;
  flex-wrap: wrap;
}
#dropRadio mat-radio-button{
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0;
}
