<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isBigEnough$ | async) ? 'dialog' : 'navigation'"
               [mode]="!(isBigEnough$ | async) ? 'over' : 'side'"
               [opened]="(isBigEnough$ | async)">

    <mat-toolbar class="menu-toolbar" color="primary">Menu</mat-toolbar>

    <mat-nav-list class="menu-list">
      <a mat-list-item href="#" [routerLink]="['overview']"><mat-icon>home</mat-icon><span>Home</span></a>
      <a mat-list-item href="#" [routerLink]="['status']"><mat-icon>shopping_cart</mat-icon><span>Order Status</span></a>
      <a mat-list-item href="#" [routerLink]="['deals']"><mat-icon>monetization_on</mat-icon><span>All deals</span></a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="!(isBigEnough$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" [routerLink]="['/admin']">MFD Reproproducts</span>
      <span class="spacer"></span>

      <mat-icon (click)="logOut()" class="btn-logout">exit_to_app</mat-icon>
    </mat-toolbar>
    <!-- Add Content Here -->

    <!-- Add Content Here -->
    <div class="container"
         [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
