.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: #fff;
}

.sidenav .mat-list-base .mat-list-item{
  color: #333;
}

.sidenav .mat-list-base .mat-list-item mat-icon{
  color:#9E2232;
  margin-right: 15px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.sidenav .menu-toolbar.mat-toolbar,
.top-toolbar.mat-toolbar.mat-primary{
  background-color: #00294f;
  box-shadow: 1px -1px 20px #000;
  z-index: 10001;
}

.spacer{
  flex: 1 1 auto;
}
.logo{
  margin-left: 16px;
  cursor: pointer;
}


.container {
  width: 1440px;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
}

.btn-logout {
  cursor: pointer;
}

@media screen and (max-width: 1700px){
  .container {
    width: 1240px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1240px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 40px;
  }
}
