h1{
  text-align: left;
}
h2{
  width: 30%;
}
button.delete{
  width:50%;
  margin-right: 0;
  color: #fff;
  background-color: #9E2232;
}
.form-wrap{
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: space-between;
  padding: 40px;
  border: 1px solid #00294F;
  margin-bottom: 35px;
}

.form-wrap mat-form-field{
  width:47%;
}

.array-wrap{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
button.submit{
  width: 100%;
  background-color: #00294F;
  color: #fff;
  margin-bottom: 200px;
}
