<h1>New Order package</h1>

<form [formGroup]="newOrderForm"
      #form
      (ngSubmit)="onSubmit()"
>
  <section class="form-wrap">

    <mat-form-field>
      <input matInput
             placeholder="Customer"
             formControlName="customer"
      >
      <mat-error *ngIf="!newOrderForm.get('customer').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="City"
             formControlName="city"
      >
      <mat-error *ngIf="!newOrderForm.get('city').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Rep" formControlName="rep">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!newOrderForm.get('rep').valid">This field is required</mat-error>
    </mat-form-field>


    <mat-form-field>
      <mat-select placeholder="Type" formControlName="type">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!newOrderForm.get('type').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Lead Source"
             formControlName="leadSource"
      >
      <mat-error *ngIf="!newOrderForm.get('leadSource').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Pays To"
             formControlName="paysTo"
      >
      <mat-error *ngIf="!newOrderForm.get('paysTo').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Sales Date" formControlName="salesDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="!newOrderForm.get('salesDate').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Purchase Lease" formControlName="purchaseLease">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!newOrderForm.get('purchaseLease').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Funds"
             formControlName="funds"
      >
      <mat-error *ngIf="!newOrderForm.get('funds').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Service Plan"
             formControlName="servicePlan"
      >
      <mat-error *ngIf="!newOrderForm.get('servicePlan').valid">This field is required</mat-error>
    </mat-form-field>

  </section>

  <hr>

  <h1>Devices</h1>

  <app-warning *ngIf="newOrderForm.get('devices').controls.length === 0">
    Looks like you haven't added any devices yet. You can do it with button at the bottom right.
  </app-warning>

  <div class="array-wrap"
       formArrayName="devices"
       *ngFor="let device of newOrderForm.get('devices').controls; let i = index;">

    <h2>New Device</h2>
    <button class="mat-flat-button delete">Delete</button>

    <section class="form-wrap" [formGroupName]="i">
      <mat-form-field>
        <input matInput placeholder="Device Model"
               formControlName="deviceModel"
        >
        <mat-error *ngIf="!device.get('deviceModel').valid">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Accessories"
               formControlName="accessories"
        >
        <mat-error *ngIf="!device.get('accessories').valid">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Serial"
               formControlName="serial"
        >
        <mat-error *ngIf="!device.get('serial').valid">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Quantity of this make and model?"
               formControlName="quantity"
        >
        <mat-error *ngIf="!device.get('quantity').valid">This field is required</mat-error>
      </mat-form-field>
    </section>
  </div>

  <hr>

  <h1>Trades</h1>

  <app-warning *ngIf="newOrderForm.get('trades').controls.length === 0">
    Looks like you haven't added any trades yet. You can do it with button at the bottom right.
  </app-warning>

  <div class="array-wrap"
       formArrayName="trades"
       *ngFor="let trade of newOrderForm.get('trades').controls; let i = index;">

    <h2>New Trade</h2>

    <button class="mat-flat-button delete">Delete</button>

    <section class="form-wrap" [formGroupName]="i">

        <mat-form-field>
          <mat-select placeholder="Return Disposition" formControlName="returnDisposition">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!trade.get('returnDisposition').valid">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Return By Date" formControlName="returnByDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="!trade.get('returnByDate').valid">This field is required</mat-error>
        </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Model"
               formControlName="model"
        >
        <mat-error *ngIf="!trade.get('model').valid">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Accessories"
               formControlName="accessories"
        >
        <mat-error *ngIf="!trade.get('accessories').valid">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Serial"
               formControlName="serial">
        <mat-error *ngIf="!trade.get('serial').valid">This field is required</mat-error>
      </mat-form-field>

    </section>
  </div>

  <button class="mat-flat-button submit" [disabled]="!newOrderForm.valid">Submit</button>
</form>
<!--end of form -->


<app-fab-button>
  
  <button
    id="new-device-btn'"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    (click)="openDeviceModal()"
    >

    <i class="material-icons">devices</i>
    <label class="tall">Add Device</label>

  </button>

  <button
    id="new-trade-btn'"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    (click)="openTradeModal()"
  >

    <i class="material-icons">attach_money</i>
    <label class="tall">Add Trade</label>

  </button>

</app-fab-button>
