tr td.mat-cell {
  cursor: pointer;
}
tr td.mat-cell:nth-child(2) {
  min-width: 100px;
}
tr td.mat-cell:nth-child(3) {
  min-width: 130px;
}
tr td.mat-cell:nth-child(4) {
  min-width: 250px;
}
tr td.mat-cell:nth-child(5) {
  min-width: 250px;
}
tr td.mat-cell:nth-child(6) {
  min-width: 200px;
}



