<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="Serial" formControlName="serial">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Quantity of this make and model?" formControlName="quantity">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Warehouse" formControlName="warehouse">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Received at Warehouse" formControlName="receivedLoc">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Delivery Location" formControlName="deliveryLoc">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Delivery Status" formControlName="deliveryStatus">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="PO Number" formControlName="poNumber">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Expected Date" formControlName="expectedDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button class="hidden" #submit></button>
  </form>

</div>
<!-- end of modal content -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!form.valid" (click)="submit.click()" id="submit-btn">Edit</button>
</div>
