<div id="fab-dismiss"
     *ngIf="fabTogglerState === 'active'"
     (click)="onToggleFab()">
</div>

<div class="fab-container" (mouseenter)="onToggleFab()" (mouseleave)="onToggleFab()">

  <button mat-fab class="fab-toggler">
    <i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i>
  </button>

  <div [@speedDialStagger]="2">
    <ng-content *ngIf="fabTogglerState === 'active'"></ng-content>
  </div>

</div>
<!--  end of button container -->
