<div class="logo-block">
  <img src="assets/logoBig.png" alt="Logo Image">

  <h1 class="tall">Please, sign in</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="Email"
             formControlName="email"
      >
      <mat-error *ngIf="!form.get('email').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password" type="password"
             formControlName="pass"
      >
      <mat-error *ngIf="!form.get('pass').valid">This field is required</mat-error>

    </mat-form-field>

    <button class="hidden" #submit></button>
  </form>

  <mat-checkbox> <span class="tall">Remember me</span></mat-checkbox>

  <button mat-flat-button (click)="submit.click()">Sign In</button>

  <!-- <p>Forgot your password?</p> -->
</div>
