.logo-block{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 40px auto 0;
  padding: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

img{
  object-fit: contain;
  width: 100%;
}

h1{
  text-align: center;
}

form{
  width: 100%;
}

form mat-form-field{
  width: 100%;
}

button{
  background-color: #00294F;
  width: 100%;
  color: #fff;
  border-radius: 0;
  height: auto;
  margin-top: 15px;
}

p{
  color: #039be5;
  font-weight: 300;
  text-align: center;
}

