<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>

  <form [formGroup]="leaseForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-select placeholder="Device" formControlName="device">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Financial Provider" formControlName="finProvider">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Lease Term" formControlName="leaseTerm">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="DA Sign Date" formControlName="signDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerFunds" placeholder="Funded Date" formControlName="fundedDate">
      <mat-datepicker-toggle matSuffix [for]="pickerFunds"></mat-datepicker-toggle>
      <mat-datepicker #pickerFunds></mat-datepicker>
    </mat-form-field>

    <button class="hidden" #submit></button>
  </form>

</div>
<!-- end of modal content -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!leaseForm.valid" (click)="submit.click()" id="submit-btn">Edit</button>
</div>
