<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>

  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-select
        placeholder="Rep"
        formControlName="rep">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!orderForm.get('rep').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" formControlName="city">
      <mat-error *ngIf="!orderForm.get('city').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Order Type" formControlName="type">
      <mat-error *ngIf="!orderForm.get('type').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Lead Source" formControlName="leadSource">
      <mat-error *ngIf="!orderForm.get('leadSource').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Pays To" formControlName="paysTo">
      <mat-error *ngIf="!orderForm.get('paysTo').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             [matDatepicker]="picker"
             placeholder="Sales Date"
             formControlName="salesDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="!orderForm.get('salesDate').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Purchase Type"
        formControlName="purchaseLease">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!orderForm.get('purchaseLease').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Service Plan" formControlName="servicePlan">
      <mat-error *ngIf="!orderForm.get('servicePlan').valid">This field is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Funds" formControlName="funds">
      <mat-error *ngIf="!orderForm.get('funds').valid">This field is required</mat-error>
    </mat-form-field>

    <button #submit class="hidden"></button>
  </form>

</div>
<!-- end of modal content -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submit.click()" [disabled]="!orderForm.valid" id="submit-btn">Edit</button>
</div>
