<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <textarea matInput placeholder="Your note..."  formControlName="note" rows="10"></textarea>

    </mat-form-field>

    <button class="hidden" #submit></button>
  </form>
  <!-- end of form -->

</div>
<!-- end of modal content -->

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!form.valid" (click)="submit.click()" id="submit-btn">Edit</button>
</div>
