<h1>Repro MFD Overview</h1>

<h2>Orders in process</h2>

<app-orders></app-orders>

<h2>Outstanding Trades</h2>

<p class="tall">These are trades for any deal where a trade in the deal has not yet been recieved.
  They are sorted in the order of: "what device needs to be returned next?"</p>

<app-trades></app-trades>

<app-fab-button>
  
  <button
    id="btn"
    mat-mini-fab
    class="fab-secondary"
    color="secondary"
    [routerLink]="['/admin/new-order']"
  >

    <i class="material-icons">shopping_cart</i>
    <label class="tall">Label</label>

  </button>

</app-fab-button>
