/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html{
  margin: 0;
  height: 100%;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
*{
  box-sizing: border-box;
  outline: none;
}
.mat-form-field.mat-focused .mat-form-field-label{
  color: #00294F;
}
.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #00294F;
}


/* Common Table Styles */

.table_wrap{
  width: 100%;
  overflow: auto;
  margin-bottom: 65px;
}
table {
  width: 100%;
  min-width: 700px;
}
.search_fields{
  width: 100%;
}
.search_fields mat-form-field{
  width: 100%;
}
table td.mat-cell, table th.mat-header-cell {
  padding: 0 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.mat-cell, .mat-footer-cell{
  font-weight: 500;
}
.mat-calendar-table{
  min-width: 100%;
}

/* Typography styles*/
h1{
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

h2{
  font-size: 24px;
  font-weight: 700;
}
.tall{
  font-weight: 300;
}

/*
 *
 *
 Scroll Bar
 */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Border */

.colorfun{
  width: 100%;
  height: 20px;
  background-color: #229e8d;
}

/* Check Box */
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #00294F;
}

/* Helpers */
.hidden{
  visibility: hidden;
}
